<mat-toolbar class="toolbar" color="primary">
  <span>FSD - Image Manager</span>
  <span class="spacer"></span>
  <a routerLink="/images/upload" class="btn" mat-raised-button color="accent">
    <mat-icon>upload</mat-icon>
    <span>Upload</span>
  </a>
  <a routerLink="/images/history" class="btn" mat-raised-button color="accent">
    <mat-icon>history</mat-icon>
    <span>History</span>
  </a>
  <a routerLink="/logs" class="btn" mat-raised-button color="basic">
    <mat-icon>receipt_long</mat-icon>
    <span>Logs</span>
  </a>
  <a routerLink="/logout" class="btn" mat-raised-button color="warn">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </a>
</mat-toolbar>
