<div class="container">
  <button type="file" (click)="onUploadClicked()" class="upload-button" mat-raised-button color="primary">
    <mat-icon>upload</mat-icon>
    <span>Upload</span>
  </button>
  <input #fileInput type="file" (change)="onImageUpload($event)" hidden />

  <img class="image box-shadow-center" [hidden]="!isImageUploaded" [src]="imageUrl" alt="Uploaded Image" />

  <button (click)="onImageUploaded()" mat-raised-button color="secondary" [disabled]="!canSendImage()">
    <mat-icon>send</mat-icon>
    <span>Evaluate image</span>
  </button>

</div>